
.expenses__not__available{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .expenses__not__available__label{
        font-size: 28px;
        color: var(--text-gray);
    }
}


.expenses__block__header__wrapper{
    width: 100%;
    .expenses__block__header{
        text-align: left;
        color: var(--text-primary)
    }
}


.expenses__content__table__wrapper{
    background-color: var(--cards-background-color);
    width: 95%;
    border: 3px solid transparent;
    border-radius: 4px;
    padding: 20px 15px;
    color: var(--text-primary);
    margin: auto;
    .expenses__row{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        height: 50px;
        .expenses__item__column{
            display: flex;
            align-items: center;
        }
    }



}